html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap")
        link(rel="stylesheet", href="/css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-tailwind.png")
        script(src="/js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="pb-24 xl:pb-0 bg-darkBlueGray-500")
                div(class="py-8 mx-10 mb-20")
                div(class="container px-4 mx-auto")
                    div(class="relative xl:pb-52 text-center overflow-hidden")
                        img(class="absolute top-0 bottom-0 h-full left-1/2 mt-20 transform -translate-x-1/2 object-contain", src="/uinel-assets/images/sign-up/half-circle.svg", alt="")
                        div(class="relative")
                            span(class="inline-block py-3 px-7 mb-10 text-lg font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 rounded-6xl") Claim your NFT
                            div(class="mb-14 xl:mb-16")
                                h2(class="text-9xl md:text-10xl xl:text-11xl text-white leading-tight font-heading font-medium") Falkenberg Foodie
                            div(class="w-full px-4 grid justify-items-stretch")
                                img(class="mb-5 justify-self-center  border-2 border-darkBlueGray-500 rounded-xl", src=nft.tokenImgUrl, alt="")
                                h5(class="text-5xl md:text-6xl xl:text-7xl text-white") #{nft.tokenName}
                                p(class="text-md text-gray-300") #{nft.tokenDescription}
                            
                            if (!nft.claimed)
                                form(action="" method="POST")
                                    div(class="max-w-md mx-auto my-10")
                                        if (!secret)
                                            input(class="w-full mb-6 py-5 px-12 text-md border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50", name="claimSecret", type="string", placeholder="Secret code: e.g. ak...33")
                                        input(class="w-full mb-6 py-5 px-12 text-md xl:text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50", name="toAddress", type="string", placeholder="Your wallet address: e.g. 0x1ed3...")
                                        //- div(class="relative mb-14 flex justify-center items-center")
                                        //-     a(class="inline-block mr-4 -mt-5", href="#")
                                        //-         img(src="uinel-assets/images/sign-up/check.svg", alt="")
                                        //-     input(style="appearance: none;", type="checkbox")
                                        
                                        button(class="block my-5 py-5 px-10 mx-auto w-full md:max-w-max text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl", type="submit") Claim now
                                        p(class="text-gray-200") Don't have a wallet yet? Get started 
                                            a(class="underline" href="#FAQ") here
            
            //FAQ
            section#FAQ(class="font-medium bg-yellow-500 py-24 2xl:pt-64 2xl:pb-48")
                div(class="container px-4 mx-auto")
                    span(class="block mb-9 uppercase tracking-widest text-xs leading-4") Guide
                    h2(class="mb-20 xl:mb-24 font-heading text-9xl md:text-10xl xl:text-11xl leading-tight") Getting started
                    div(class="relative flex justify-between md:hidden mb-16")
                        div(class="relative w-12 h-12 bg-white z-10 rounded-full")
                            span(class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-2xl") 1
                        div(class="relative w-12 h-12 bg-white z-10 rounded-full")
                            span(class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-2xl") 2
                        div(class="relative w-12 h-12 bg-white z-10 rounded-full")
                            span(class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-2xl") 3
                        div(class="absolute top-1/2 bg-black w-full", style="height:2px;")
                    div(class="flex mx-auto max-w-max")
                        div(class="relative md:top-12 md:flex md:flex-col mr-12 hidden")
                            div(class="relative mb-44 lg:mb-32 w-12 h-12 bg-white z-10 rounded-full")
                                span(class="absolute font-bold text-2xl left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2") 1
                            div(class="relative w-12 h-12 mb-20 lg:mb-11 bg-white z-10 rounded-full")
                                span(class="absolute font-bold text-2xl left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2") 2
                            div(class="relative w-12 h-12 bg-white z-10 rounded-full")
                                span(class="absolute font-bold text-2xl left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2") 3
                            div(class="absolute top-4 left-1/2 transform -transform-x-1/2 h-96 lg:h-72 bg-black", style="width:2px;")
                        div(class="max-w-max")
                            a(class="flex justify-between items-start px-8 md:px-14 py-9 mb-12 bg-white max-w-max rounded-3xl", href="#")
                                div
                                    h2(class="mb-5 font-heading text-3xl md:text-5xl xl:text-8xl leading-tighter") 1. Get your crypto wallet address
                                    p(class="text-lg font-normal leading-6") The nulla commodo, commodo eros a, tristique lectus.
                                img(class="relative top-7 ml-10", src="uinel-assets/elements/faqs/arrow-down-black.svg", alt="")
                            |               
                            a(class="flex justify-between items-start px-8 md:px-14 mb-9 md:mb-16 xl:mb-9 max-w-max", href="#")
                                div
                                    h2(class="font-heading text-3xl md:text-5xl xl:text-8xl leading-tighter") 2. Claim your Foodie NFT
                                    p(class="hidden text-lg font-normal leading-6") The nulla commodo, commodo eros a, tristique lectus.
                                img(class="relative top-7 ml-10", src="uinel-assets/elements/faqs/arrow-down-black.svg", alt="")
                            |               
                            a(class="flex justify-between items-start mb-28 px-8 md:px-14 max-w-max", href="#")
                                div
                                    h2(class="font-heading text-3xl md:text-5xl xl:text-8xl leading-tighter") 3. Locate your Foodie NFT
                                    p(class="hidden text-lg font-normal leading-6") The nulla commodo, commodo eros a, tristique lectus.
                                img(class="relative top-7 ml-10", src="uinel-assets/elements/faqs/arrow-down-black.svg", alt="")
                            div(class="flex justify-center")
                                a(class="hidden inline-block py-5 px-10 text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl", href="#") Show more
            
            //FOOTER
            section(class="py-24 2xl:py-44 bg-darkBlueGray-500")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap -mx-4 mb-14 lg:mb-24")
                        div(class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0")
                            h3(class="mb-10 font-heading font-medium tracking-tighter text-xl text-white") About Uinel
                            ul
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") About us
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Stories
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Our people
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Founders
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Why Uinel
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") How we compare
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Website
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Idea
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Mission
                                li
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Newsroom
                        div(class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0")
                            h3(class="mb-10 font-heading font-medium tracking-tighter text-xl text-white") Product & Tools
                            ul
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Download Uinel
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Sign up free
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Pricing
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Features
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Google integrations
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Microsoft integrations
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Dropbox integrations
                                li
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Mobile App
                        div(class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0")
                            h3(class="mb-10 font-heading font-medium tracking-tighter text-xl text-white") Community
                            ul
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") UI Designers
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") UX Designers
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Graphic Designers
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Developers
                                li
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Events
                        div(class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 sm:mb-0")
                            h3(class="mb-10 font-heading font-medium tracking-tighter text-xl text-white") Support
                            ul
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Your account
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Hire an experts
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Help center
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") For students
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Manage cookies
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") FAQ's
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Viedos on YT
                                li
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Contact
                        div(class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4")
                            h3(class="mb-10 font-heading font-medium tracking-tighter text-xl text-white") More
                            ul
                                li(class="mb-5")
                                    a(class="text-gray-200 hover:text-gray-100", href="#") LinkedIn
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Spotify x Uinel
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Twitter
                                li(class="mb-5")
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Instagram
                                li
                                    a(class="text-darkBlueGray-200 hover:text-darkBlueGray-100", href="#") Facebook
                    div(class="flex flex-wrap items-center -mx-4")
                        div(class="w-full lg:w-1/6 px-4 mb-10 lg:mb-0")
                            a(class="font-bold text-xl", href="#")
                                img(class="h-12", src="uinel-assets/logos/uinel-gray-white.svg", alt="")
                        div(class="w-full lg:w-3/6 px-4 mb-10 lg:mb-0")
                            a(class="mr-16 font-heading text-white hover:text-gray-100", href="#") New tools
                            |               
                            a(class="mr-16 inline-flex items-center font-heading text-white hover:text-gray-100", href="#")
                                span(class="mr-4") Security
                                svg(width="8", height="5", viewbox="0 0 8 5", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z", fill="currentColor")
                            |               
                            a(class="font-heading text-white hover:text-gray-100", href="#") Join for free
                        div(class="w-full lg:w-2/6 px-4")
                            div(class="flex items-center")
                                p(class="mr-20 text-sm tracking-widest text-gray-300") © 2021 UINEL
                                a(href="#")
                                    img(src="uinel-assets/images/footers/scroll-down2.svg", alt="")
        script(src="https://cdn.jsdelivr.net/npm/apexcharts")
        script(src="js/charts-demo.js")
